%ul.menu
  %li
    = link_to "Home", root_url, class: (controller.controller_name == "home" && controller.action_name == "index") ? "active" : "", "data-text" => "Home"
  %li
    = link_to "Services", services_url, class: controller.controller_name == "services" ? "active" : "", "data-text" => "Services"
  %li
    = link_to "FAQ", "/faq", class: (controller.controller_name == "home" && controller.action_name == "faq") ? "active" : "", "data-text" => "Frequently Asked Questions (FAQ)"
  %li
    = link_to "Client Login", "/app", "data-text" => "Login"
  %li
    %a.btn.btn-bordered.fs-12.btn-white.hidden-sm.hidden-xs{"data-text" => "Hire Us", :href => services_url} Hire Us
    %a.btn.btn-bordered.fs-12.btn-black.font-montserrat.fs-12.all-caps.pull-bottom.visible-sm.visible-xs.buy-now.sm-static.sm-m-l-20.sm-m-r-20.sm-m-t-20{:href => services_url} Hire Us