.page-wrappers
  / BEGIN CONTENT SECTION
  %section.bg-master-lightest.p-b-85.p-t-75.m-t-85.no-overflow
    .container
      .md-p-l-20.md-p-r-20.xs-no-padding
        %h5.block-title.hint-text.no-margin POST A JOB
        .row
          .col-sm-5
            %h1.m-t-5.m-b-20 Describe
            %p.m-b-20 Let us know what you need.
            %p.m-b-20 Describe the complete details about the job you need done. The more detailed, the faster our experts can pick-up the scope of the job.
            %p.m-b-20 Provide the best category of the job so we can efficiently match the job with the appropriate expert.
            %p.hint-text.font-arial.small-text.col-md-8.no-padding 
          .col-sm-7.no-padding.xs-p-l-15.xs-p-r-15
            .content-mask-md
              #iphone01.device_morph.pull-center-inner{"data-curve" => "ease", "data-delay" => "1000", "data-max-bottom-translate" => "300", "data-max-top-translate" => "40", "data-pages" => "float", "data-speed" => "-0.1"}
                %img.xs-image-responsive-height.image-responsive-width{:alt => "", :src => asset_path("b_phone.png")}/
                .screen
                  .iphone-border
                    %img.image-responsive-height.lazy{:alt => "", :src => asset_path("mobile_preview.jpg")}/
  / END CONTENT SECTION
  / BEGIN CONTENT SECTION
  %section.p-b-85.p-t-75.bg-master-lighter
    .container
      .md-p-l-20.xs-no-padding.clearfix
        .row
          .col-md-4.col-sm-4
            .device_morph{"data-pages" => "auto-scroll"}
              %img#mobile_phone.xs-image-responsive-height.image-responsive-width{:alt => "", :src => asset_path("b_phone.png")}/
              .screen
                .iphone-border
                  %img.image-responsive-height.lazy{:alt => "", :src => asset_path("mobile_preview.jpg")}/
          .col-md-7.col-md-offset-1.col-sm-offset-2.col-sm-6
            .clearfix.hidden-sm
              %h2 Connect
              %p.m-b-20 Our experts will get in touch with you and provide you with reasonable estimates.
            .col-md-9.col-md-offset-1.col-sm-11
              .p-t-50
                %dl
                  %dt.block-title.p-b-15.text-black
                    Scope
                    %i.pg-arrow_right.m-l-10
                  %dd.m-b-30 Our experts will ask for details of the scope and get as much information to deliver the best quality work they can provide.
                %dl
                  %dt.block-title.p-b-15.text-black
                    Estimate
                    %i.pg-arrow_right.m-l-10
                  %dd.m-b-30 Our estimates starts from an hour up to 10 hours at a fixed hourly rate. Before commiting, you'll be able to fully understand the underlyng details of the job.
                %dl
                  %dt.block-title.text-black.p-b-15
                    Approve
                    %i.pg-arrow_right.m-l-10
                  %dd.m-b-30 Once you agree to the estimate, approve the estimate and pay. We will escrow your payments until the scope is fulfilled and that you have been fully taken cared of.
  / END CONTENT SECTION
  %section.bg-master-lightest.p-b-85.p-t-75.no-overflow
    .container
      .md-p-l-20.md-p-r-20.xs-no-padding
        .row
          .col-sm-5
            %h1.m-t-5.m-b-20 Rate the expert
            %p.m-b-20 Reward the person who did a great job for you. Our expert may ask you to add their work for you in their portfolio. This will enable them to advertise your brand. 
            %p.m-b-20 We always foster constructive and positive working relationship in SmallTaskers.
          .col-sm-7.no-padding.xs-p-l-15.xs-p-r-15
            .content-mask-md
              #iphone01.device_morph.pull-center-inner{"data-curve" => "ease", "data-delay" => "1000", "data-max-bottom-translate" => "300", "data-max-top-translate" => "40", "data-pages" => "float", "data-speed" => "-0.1"}
                %img.xs-image-responsive-height.image-responsive-width{:alt => "", :src => asset_path("b_phone.png")}/
                .screen
                  .iphone-border
                    %img.image-responsive-height.lazy{:alt => "", :src => asset_path("mobile_preview.jpg")}/
  / END CONTENT SECTION