%section.demo-hero-5{"data-pages" => "parallax", "data-pages-bg-image" => "assets/images/hero_2.jpeg"}
  .container-xs-height.full-height
    .col-xs-height.col-middle.text-center
      %h1.inner.p-b-50.m-b-20 Start Now
%section.p-b-75
  / REMOVE .pricing-layout-overflow-top to avoid top overflow
  .container.pricing-layout-overflow-top
    .p-l-30.p-r-30.m-t-30
      .row
        .col-sm-4.p-l-5.p-r-5
          .pricing-heading.m-t-45
            .bg-menu.p-t-60.p-b-60
              %h1.text-center.text-white.m-b-25.font-montserrat
                $0.00
              %p.hint-text.text-center.text-white
                Monthly Subscription
                %br/
                Perfect for Solopreneurs/Small Teams
            .bg-master-lighter.p-t-20.p-b-20
              %h5.block-title.text-center.no-margin
                Mortal
          .pricing-details.p-t-30.p-l-40.p-r-40.md-p-l-20.md-p-r-20
            .text-center.m-b-35
              .btn.btn-default.btn-lg START FREE TRIAL
            %ul.no-style
              %li.text-black.fs-16.normal.m-b-25
                %span.bold One
                Storefront
              %li.text-black.fs-16.normal.m-b-25
                %span.bold Unlimited
                Tasks
              %li.text-black.fs-16.normal.m-b-25
                %span.bold 5
                Workers/Experts
              %li.text-black.fs-16.normal.m-b-25
                %span.bold 6
                Hourly Services
              %li.text-black.fs-16.normal.m-b-25
                %span.bold 3
                Subscription Services
              %li.text-black.fs-16.normal.m-b-25
                %span.bold 3 
                Concurrent claims per expert
              %li.text-black.fs-16.normal.m-b-25
                %span.bold 12% 
                Transaction Fee
              %li.text-black.fs-16.normal.m-b-25
                %span.bold Unlimited 
                Blogging
              %li.text-black.fs-16.normal.m-b-25
                %span.bold Social Media 
                Integration
            
        .col-sm-4.p-l-5.p-r-5.xs-m-t-40
          .pricing-heading.xs-p-t-10
            .bg-menu-dark.padding-10
              %h5.block-title.text-center.text-white.no-margin
                Recommended
            .bg-menu.p-t-60.p-b-60
              %h1.text-center.text-white.m-b-25.font-montserrat
                $69
              %p.hint-text.text-white.text-center
                Monthly Subscription
                %br/
                Perfect for mid-sized agencies
            .bg-master-lighter.p-t-20.p-b-20
              %h5.block-title.text-center.no-margin
                %span.bold Rockstar
          .pricing-details.p-t-30.p-l-40.p-r-40.md-p-l-20.md-p-r-20
            .text-center.m-b-35
              .btn.btn-primary.btn-lg START FREE TRIAL
            %ul.no-style
              %li.text-black.fs-16.normal.m-b-35
                %span.bold One
                Storefront
              %li.text-black.fs-16.normal.m-b-35
                %span.bold Unlimited
                Tasks
              %li.text-black.fs-16.normal.m-b-35
                %span.bold 20
                Workers/Experts
              %li.text-black.fs-16.normal.m-b-35
                %span.bold 20
                Hourly Services
              %li.text-black.fs-16.normal.m-b-35
                %span.bold 10
                Subscription Services
              %li.text-black.fs-16.normal.m-b-35
                %span.bold 5 
                Concurrent claims per expert
              %li.text-black.fs-16.normal.m-b-35
                %span.bold 10% 
                Transaction Fee
              %li.text-black.fs-16.normal.m-b-35
                %span.bold Unlimited 
                Blogging
              %li.text-black.fs-16.normal.m-b-35
                %span.bold Social Media 
                Integration

        .col-sm-4.p-l-5.p-r-5
          .pricing-heading.m-t-45
            .bg-menu.p-t-60.p-b-60
              %h1.text-center.text-white.m-b-25.font-montserrat
                $1349
              %p.hint-text.text-white.text-center
                Eternal Subscription
                %br/
                $39 per hour
            .bg-master-lighter.p-t-20.p-b-20
              %h5.block-title.text-center.no-margin
                Eternal (Coming Soon)
          .pricing-details.p-t-30.p-l-40.p-r-40.md-p-l-20.md-p-r-20
            .text-center.m-b-35
              .btn.btn-default.btn-lg.disabled START FREE TRIAL
            %ul.no-style
              %li.text-black.fs-16.normal.m-b-25
                %span.bold 10
                Storefronts
              %li.text-black.fs-16.normal.m-b-25
                %span.bold Unlimited
                Tasks
              %li.text-black.fs-16.normal.m-b-25
                %span.bold Unlimited
                Workers/Experts
              %li.text-black.fs-16.normal.m-b-25
                %span.bold Unlimited
                Hourly Services
              %li.text-black.fs-16.normal.m-b-25
                %span.bold Unlimited
                Subscription Services
              %li.text-black.fs-16.normal.m-b-25
                %span.bold 10 
                Concurrent claims per expert
              %li.text-black.fs-16.normal.m-b-25
                %span.bold 8% 
                Transaction Fee
              %li.text-black.fs-16.normal.m-b-25
                %span.bold Unlimited 
                Blogging
              %li.text-black.fs-16.normal.m-b-25
                %span.bold Social Media 
                Integration