%ul.main-menu
  %li{ng: {class: "{'active': activepage == 'page-home'}"}}
    %a{:href => "#/"}
      %span.title
        %i.pg-inbox
        Tasks
      %span.badge.pull-right {{jobs.length}}
  %li{ng: {class: "{'active': activepage == 'page-transactions'}"}}
    %a{:href => "#/"}
      %span.title
        %i.pg-inbox
        Transactions
  %li{ng: {class: "{'active': activepage == 'page-settings'}"}}
    %a{:href => "#/settings"}
      %span.title
        %i.pg-settings
        Settings