.split-view
  / START SPLIT LIST VIEW
  .split-list
    .list-view{"data-email" => "list"}
      %h2.list-view-fake-header Tasks
      / START EMAIL LIST SORTED BY DATE
      / END EMAIL LIST SORTED BY DATE
      .list-view-wrapper{"data-ios" => "false"}
        .list-view-group-container
          %ul.no-padding
            %li.item.padding-15{"data-email-id" => "{{item.id}}", ng: {repeat: "item in tickets | orderBy:'-updated_at'", click: "selectTicket(item)", class: "{'active' : item.id == ticket.id}"}}
              .inline.m-l-15
                %p.recipients.no-margin.hint-text.small{ng: {show: "item.expert"}} {{item.expert.name}}
                %p.recipients.no-margin.hint-text.small{ng: {show: "item.expert"}} {{item.expert.name}}
                %p.subject.no-margin Ticket#: {{item.code}}
                %p.body.no-margin{ng: {bind: {html: "item.title"}}}
                -# %span.label{ng: {class: "{'label-default': item.status == 0, 'label-info': item.status == 1, 'label-succces': item.status == 2}"}} {{item.status | ticket_status}}
              .datetime {{item.updated_at | amDateFormat:'MMM DD, YYYY hh:mm a'}}
              .clearfix
  / END SPLIT LIST VIEW
  %ticket
  / END SPLIT DETAILS
  / START COMPOSE BUTTON FOR TABS
  .compose-wrapper.visible-xs