.split-view{ng: {hide: "composeJob"}}
  / START SPLIT LIST VIEW
  .split-list
    .list-view{"data-email" => "list"}
      %h2.list-view-fake-header Tasks
      / START EMAIL LIST SORTED BY DATE
      / END EMAIL LIST SORTED BY DATE
      .list-view-wrapper{"data-ios" => "false"}
        .list-view-group-container
          %ul.no-padding
            %li.item.padding-15{"data-email-id" => "{{item.id}}", ng: {repeat: "item in jobs | orderBy:'-updated_at'", click: "selectJob(item)", class: "{'active' : item.id == job.id}"}}
              .thumbnail-wrapper.d32.circular.bordered.expert-avatar.b-grey{data: {expert: {id: "{{item.expert.id}}"}}}
                %img{:alt => "", :height => "40", ng: {src: "{{item.expert.avatar}}", show: "item.expert.avatar"}, :width => "40"}/
                %img{:alt => "", :height => "40", ng: {src: "/images/missing/thumb/missing.png", show: "!item.expert.avatar"}, :width => "40"}/
              .inline.m-l-15
                %p.recipients.no-margin.hint-text.small{ng: {show: "item.expert"}} {{item.expert.name}}
                %p.recipients.no-margin.hint-text.small{ng: {show: "!item.expert && item.status == 0"}} Draft
                %p.recipients.no-margin.hint-text.small{ng: {show: "!item.expert && item.status == 1"}} Unclaimed
                %p.subject.no-margin Task# {{item.code}}: {{item.title}}
                %p.body.no-margin{ng: {bind: {html: "item.description | stripTags"}}}
                %span.label.label-default {{item.status | job_status}}
              .datetime {{item.updated_at | amDateFormat:'MMM DD, YYYY hh:mm a'}}
              .clearfix
  / END SPLIT LIST VIEW
  %job
  / END SPLIT DETAILS
  / START COMPOSE BUTTON FOR TABS
  .compose-wrapper.visible-xs
    -# %a.compose-email.text-info.pull-right.m-r-10.m-t-10{:href => "email_compose.html"}
    -#   %i.fa.fa-pencil-square-o
  / END COMPOSE BUTTON
.row.m-t-20.m-b-50.m-r-20.m-l-20#main{ng: {show: "composeJob"}}
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading
        .panel-title
          New Task
      .panel-body
        %h5
          Tell us more about this task
        %form{:role => "form"}
          .form-group.required
            %label Title:
            %input.form-control{:name => "cc", :placeholder => "", :type => "text", autofocus: true, ng: {model: "newJob.title"}}/
          -# .form-group
          -#   %label Category:
          -#   %select.form-control.c-select{ng: {model: "newJob.category_id"}}
          -#     %option{ng: {repeat: "category in categories", value: "category.id"}, value: "category.id"} {{category.name}}
          .form-group
            %label Category:
            %select.form-control.c-select{ng: {model: "newJob.service_id"}}
              %option{ng: {repeat: "service in services", value: "service.id"}, value: "service.id"} {{service.title}}
          .form-group
            %label Describe this Task
            .wysiwyg5-wrapper.b-a.b-grey.m-b-10
              %textarea#wysiwyg5.wysiwyg{rows: 20, ng: {model: "newJob.description"}}
          .form-group.btn-controls
            %button.btn.btn-primary.btn-cons{ng: {click: "publishJob()", class: "{'disabled': !newJob.title.length}"}} Publish
            %button.btn.btn-white.btn-cons{ng: {click: "draftJob()", class: "{'disabled': !newJob.title.length}"}} Draft
            %button.btn.btn-white.btn-cons{ng: {click: "cancelCompose()"}} Cancel