/ Trigger the modal with a button
-# %button.btn.btn-info.btn-lg{"data-target" => "#estimate-modal", "data-toggle" => "modal", :type => "button"} Open Modal
/ Modal
#estimate-modal.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} &#215;
        %h4.modal-title Make an Estimate
      .modal-body
        %form.form
          .form-group
            %label Estimated Units: 
            %p.small.hint (Number of any units. e.g. hours, pages, words, days, weeks)
            .clearfix
            .radio.radio-success
              %input.form-control.input-lg#option1{ng: {model: "estimate.hours"}, :name => "estimate", :type => "number"}/
          .clearfix
          .form-group
            %label{for: "etc"} Turn-around Time
            %select.form-control{ng: {model: "estimate.etc"}, id: "etc", "convert-to-number": ""}
              %option{value: 1} Next Day Turn-over
              %option{value: 2} 2 Days
              %option{value: 3} 3 Days
          .form-group
            %label{for: "starts_at"} Soonest date you can start
            %p.small.hint Start date will officially commence upon client's acceptance of the offer
            #start-date.input-group.date.col-sm-12
              %input.form-control{ng: {model: "estimate.starts_at"}, :type => "text"}/
              %span.input-group-addon
                %i.fa.fa-calendar
          -# .form-group
          -#   %label This is the amount that the client will see.
          -#   %h5 {{(estimate.hours * job.service.price) | currency : "$" : 2}}
          -# .form-group
          -#   %label Transaction Fee
          -#   %h5 {{(estimate.hours * job.service.price) - ((job.service.experts_rate / 100) * (estimate.hours * job.service.price)) | currency : "$" : 2}}
          .form-group
            %label This is how much you will earn
            %h5 {{ ((job.service.experts_rate / 100) * (estimate.hours * job.service.price)) | currency : "$" : 2 }}

      .modal-footer
        %button.btn.btn-primary{ng: {class: "{'disabled': !estimate.etc}", click: "sendEstimate()"}} Send Estimate
