.split-view{ng: {hide: "composeJob"}}
  / START SPLIT LIST VIEW
  .split-list
    .list-view{"data-email" => "list"}
      %h2.list-view-fake-header Tasks
      / START EMAIL LIST SORTED BY DATE
      / END EMAIL LIST SORTED BY DATE
      .list-view-wrapper{"data-ios" => "false"}
        .list-view-group-container
          %ul.no-padding#jobslist
            %li.item.padding-15{"data-email-id" => "{{item.id}}", ng: {repeat: "item in jobs | orderBy:'-updated_at'", click: "selectJob(item)", class: "{'active' : item.id == job.id}"}}
              .thumbnail-wrapper.d32.circular.bordered.customer-avatar.b-grey{data: {customer: {id: "{{item.customer.id}}"}}}
                %img{:alt => "", :height => "40", ng: {src: "{{item.customer.avatar}}", show: "item.customer.avatar"}, :width => "40"}/
                %img{:alt => "", :height => "40", ng: {src: "/images/missing/thumb/missing.png", show: "!item.customer.avatar"}, :width => "40"}/
              .inline.m-l-15
                %p.recipients.no-margin.hint-text.small{ng: {show: "item.customer.name.length"}} {{item.customer.name}}
                %p.recipients.no-margin.hint-text.small{ng: {show: "!item.customer.name.length"}} Unknown Customer
                %p.subject.no-margin Task# {{item.code}}: {{item.title}}
                %p.body.no-margin{ng: {bind: {html: "item.description | stripTags"}}}
                %span.label.label-default {{item.status | job_status}}
              .datetime {{item.updated_at | amDateFormat:'MMM DD, YYYY hh:mm a'}}
              .clearfix
  / END SPLIT LIST VIEW
  %job
  / END SPLIT DETAILS
  / START COMPOSE BUTTON FOR TABS
  -# .compose-wrapper.visible-xs
  -#   %a.compose-email.text-info.pull-right.m-r-10.m-t-10{:href => "email_compose.html"}
  -#     %i.fa.fa-pencil-square-o
  / END COMPOSE BUTTON