/ START SPLIT DETAILS
.split-details{"data-email" => "opened"}
  .no-result{ng: {hide: "job"}}
    %h1{ng: {show: "jobs.length"}} No task has been selected
    %h1{ng: {show: "!jobs.length"}} No tasks available
  .email-content-wrapper{ng: {show: "job"}}
    .actions-wrapper.menuclipper.bg-master-lightest
      %ul.actions.menuclipper-menu.no-margin.p-r-20
        %li.no-padding{ng: {show: "job.status == 1"}}
          %a.cursor{ng: {click: "claim(job)"}} Claim
        %li.no-padding{ng: {if: "job.status == 1"}}
          %a{ng: {click: "attachFile()"}} Attach File
        %li.no-padding{ng: {show: "job.status > 0"}}
          %a{:href => "#", ng: {click: "showDetails($event)"}} Details
        %li.no-padding{ng: {show: "job.status > 1"}}
          %a{:href => "#", ng: {click: "showConversations($event)"}} Conversation
        %li.no-padding{ng: {show: "job.status > 1"}}
          %a{:href => "#", ng: {click: "showFiles($event)"}} Files
        -# %li.no-padding
        -#   %a{:href => "#"} Report an Issue
        
      %ul.actions.menuclipper-menu.no-margin.p-l-20.pull-right
        %li.visible-sm-inline-block.visible-xs-inline-block
          %a.split-list-toggle{:href => "#"}
            %i.fa.fa-angle-left
            All Inboxes
        %li.no-padding{ng: {show: "job.status == 2"}}
          %a{ng: {click: "makeEstimate(job)"}} Make an Offer
        %li.no-padding{ng: {show: "job.status == 2"}}
          %a.text-danger{ng: {click: "unClaim(job)"}} Unclaim
        %li.no-padding{ng: {show: "job.status == 3"}}
          %a{ng: {click: "editEstimate()"}} Change Offer
        %li.no-padding{ng: {show: "job.status == 3"}}
          %a.text-danger{ng: {click: "cancelEstimate(job)"}} Cancel Offer
        %li.no-padding{ng: {show: "job.status == 4"}}
          %a{ng: {click: "submit(job)"}} Submit for Review
        %li.no-padding{ng: {show: "job.status > 0"}}
          %a.text-danger{ng: {click: "fileReport(job)"}} Report a Problem
      
      .clearfix
    .email-content
      #details.email-content-header{ng: {show: "show_mode == 1"}}
        %span{ng: {show: "job.customer"}}
          .thumbnail-wrapper.d48.circular.bordered
            %img{:alt => "", "data-src" => "{{job.customer.avatar}}", "data-src-retina" => "{{job.customer.avatar}}", :height => "40", :src => "{{job.customer.avatar}}", :width => "40"}/
          .sender.inline.m-l-10
            %p.name.no-margin.bold {{job.customer.name}}
          .clearfix
        .subject.m-t-20.m-b-20.semi-bold
          .subject.m-t-20.m-b-20.semi-bold
            %h4 Job# {{job.code}}: {{job.title}}
          %p.m-t-10
            %span.label.label-default {{job.category.name}}
          %p.no-margin
            %span.bold Posted On:
            {{job.created_at | amDateFormat:'MMM DD, YYYY hh:mm a'}}
          %p.no-margin{ng: {show: "job.estimate"}}
            %span.bold Estimate:
            %span {{(job.service.price * job.service.experts_rate / 100) * job.estimate | currency : "$" : 2}}
          %p.no-margin{ng: {show: "job.etc"}}
            %span.bold Turn Around Time:
            Next Day Delivery
          %p.no-margin{ng: {show: "job.starts_at"}}
            %span.bold Starts on:
            {{job.starts_at | amDateFormat:'MMM DD, YYYY hh:mm a'}}
          %p.no-margin{ng: {show: "job.submitted_at"}}
            %span.bold Submitted on:
            {{job.submitted_at | amDateFormat:'MMM DD, YYYY hh:mm a'}}
          %p.no-margin{ng: {show: "job.completed_at"}}
            %span.bold Completed on:
            {{job.completed_at | amDateFormat:'MMM DD, YYYY hh:mm a'}}
        .subject.m-t-20.m-b-20.semi-bold
          %p{ng: {bind: {html: "job.description | nl2br | str2link"}}}

      #conversation.conversation.m-t-20{ng: {show: "show_mode == 2"}}
        %p.text-center.m-y-1{ng: {show: "job.status == 1"}}
          %i 
            Be the first expert to
            %a.cursor{ng: {show: "job.status == 1", click: "claim(job)"}} claim
            this job
        %ul.chat{ng: {show: "job.status > 1"}}
          .text-center{ng: {show: "!messages.length"}} Loading...
          %li{ng: {repeat: "message in messages"}}
            .p-b-10.clearfix{ng: {show: "!message.sender_type"}}
              %span
                %strong TaskBot
                %small.pull-right {{ message.created_at }}
              .clearfix
                %span {{message.sender}}
                %span{"ng-bind-html" => "message.content | nl2br | str2link"}
            .p-b-10.clearfix{ng: {show: "message.sender_type"}}
              %span{ng: {show: "message.sender_type == 'Expert'"}}
                %strong you
                %small.pull-right {{ message.created_at }}
              %span{ng: {show: "message.sender_type == 'Customer'"}}
                %strong{ng: {if: "message.sender.length"}} {{message.sender}}
                %strong{ng: {if: "!message.sender.length"}} Customer
                %small.pull-right {{ message.created_at }}
              %div{"ng-bind-html" => "message.content | nl2br | str2link"}
      #attachments{ng: {show: "show_mode == 3 && job.status > 1"}}
        .panel.panel-default{ng: {show: "showUploader"}}
          .panel-heading
            .panel-title.pull-left
              Share Files
            .panel-title.pull-right
              %a.text-success{href: "", ng: {click: "showUploader = false"}} Close
            .tools.clearfix
              %a.collapse{:href => "javascript:;"}
              %a.config{"data-toggle" => "modal", :href => "#grid-config"}
              %a.reload{:href => "javascript:;"}
              %a.remove{:href => "javascript:;"}
          .panel-body.no-scroll.no-padding
            %form.dropzone.no-margin
              .fallback
                %input{:multiple => "multiple", :name => "file", :type => "file"}/
        
        .panel.panel-default{ng: {hide: "job.job_attachments.length || showUploader"}}
          .panel-body.no-scroll
            .col-md-12.text-center
              %a.btn.btn-lg.btn-primary{ng: {click: "attachFile()"}} Start adding files
        .panel.panel-default{ng: {show: "job.job_attachments.length"}}
          .panel-heading
            .panel-title.col-md-12
              .pull-left
                Shared Files
              .pull-right.btn.btn-sm.btn-primary{ng: {click: "attachFile()", hide: "showUploader"}} Attach File
            .tools.clearfix
              %a.collapse{:href => "javascript:;"}
              %a.config{"data-toggle" => "modal", :href => "#attachment-grid-config"}
              %a.reload{:href => "javascript:;"}
              %a.remove{:href => "javascript:;"}
          .panel-body.no-scroll.no-padding
            .row.slide-list
              .col-md-3.p-b-20{ng: {repeat: "item in job.job_attachments track by $index"}}
                %div{ng: {if: "item.file.thumb.url", href: "{{item.file.thumb.url}}", click: "openImagePreview($index, $event)"}, style: "height: 200px; cursor: pointer"}
                  %strong Attachment-{{$index}}
                  %img.thumbnail.img-responsive{ng: {src: "{{item.file.thumb.url}}"}}
      .p-t-10.p-b-10{ng: {show: "show_mode == 2"}}
        .input-group
          %input.form-control.input-lg{rows: 2, ng: {model: "msg", keyUp: "sendMessage($event)", show: "job.status > 1 && messages.length"}}
          .input-group-btn
            %button.send.btn.btn-primary.btn-lg{ng: {click: "shiftSendMessage()", class: "{'disabled': !msg}", show: "job.status > 1 && messages.length"}} Send

      .panel.panel-default{ng: {show: "show_mode == 4"}}
        .panel-body
          %h5
            What went wrong to this task?
          %form{:role => "form"}
            .form-group.required
              %label Subject:
              %input.form-control{:name => "cc", :placeholder => "", :type => "text", autofocus: true, ng: {model: "ticket.title"}}/
            .form-group
              %label Complaint, suggestions, comments and other information that could help us resolve this issue.
              .wysiwyg5-wrapper.b-a.b-grey.m-b-10
                %textarea#wysiwyg5.wysiwyg{rows: 15, ng: {model: "ticket.description"}}
            .form-group.btn-controls
              %button.btn.btn-primary.btn-cons{ng: {click: "sendReport()", class: "{'disabled': !ticket.title.length || !ticket.description.length}"}} Send
              %button.btn.btn-white.btn-cons{ng: {click: "cancelReport()"}} Cancel
%estimatemodal{ng: {show: "showModalEstimate"}}