.row.m-t-20
  .col-md-6.col-md-offset-3
    %h4.bold SmallTaskers Store Front
    .panel.panel-default
      .panel-body.no-scroll
        %a.btn.btn-tag.btn-tag-light.btn-tag-rounded{ng: {href: "//{{company.domain}}", show: "company.domain.length"}, target: "_blank"} Open
        %span.small.hint-text http://{{company.domain}}
        .pull-right
          %span.text-success{ng: {if: "store.is_published"}} Store is Live
          %em.small.hint-text{ng: {if: "!store.is_published"}} Store is not live
          %input.js-switch{:checked => "checked", "ng-model" => "store.is_published", :type => "checkbox", "ui-switch" => "{color: '#10cfbd'}", ng: {change: "togglePublish()"}}/

    %h5 Now, let's configure your Store front

    .panel.panel-default
      .panel-heading
        .panel-title
          Give your site a meaningful and captivating cover photo
      .panel-body.no-scroll.no-padding{style: "position: relative; overflow: hidden;"}
        %label.upload-trigger{:for => "uploadField"}
          %img.featured_image{ng: {src: "{{store.cover.url}}"}, style: "max-width: 100%; position: absolute; top: 50%; transform: translateY(-50%);"}
          %form.dropzone.cover.no-margin
            %span.dropzone-text
            .fallback.hide
              %input{:name => "file", :type => "file"}/

    .panel.panel-default
      .panel-heading
        .panel-title
          Upload Your Logo
      .panel-body.no-scroll.no-padding{style: "position: relative; overflow: hidden;"}
        %label.upload-trigger{:for => "uploadField"}
          %img{ng: {src: "{{store.logo.url}}"}, style: "max-width: 100%; position: absolute; top: 50%; transform: translateY(-50%);"}
          %form.dropzone.logo.no-margin
            %span.dropzone-text
            .fallback.hide
              %input{:name => "file", :type => "file"}/
    .panel.panel-default
      .panel-heading
        .panel-title
          Title
      .panel-body{:style => "display: block;"}
        %p
          What is your store name?
        %form{:role => "form"}
          .form-group.required
            %input.form-control{:placeholder => "", :type => "text", autofocus: true, ng: {model: "store.title"}}/

    .panel.panel-default
      .panel-heading
        .panel-title
          Description
      .panel-body{:style => "display: block;"}
        %p
          Provide a concise explanation of what your store is about.
        %form{:role => "form"}
          .form-group.required
            %textarea.form-control{:placeholder => "", ng: {model: "store.description"}}

    .panel.panel-default
      .panel-heading
        .panel-title
          How do you want your store to be remembered?
      .panel-body{:style => "display: block;"}
        %p
          What is your store's tagline?
        %form{:role => "form"}
          .form-group.required
            %textarea.form-control{:placeholder => "", ng: {model: "store.tagline"}}

    .panel.panel-default
      .panel-heading
        .panel-title
          Social
      .panel-body{:style => "display: block;"}
        %p
          Fill-up these social media account urls where your clients or customers can follow and interact with you
        %form{:role => "form"}
          .form-group
            .input-group
              %span.input-group-addon
                http://facebook.com/
              %input.form-control{:placeholder => "", :type => "text", ng: {model: "store.facebook"}}/
          .form-group
            .input-group
              %span.input-group-addon
                http://twitter.com/
              %input.form-control{:placeholder => "", :type => "text", ng: {model: "store.twitter"}}/
          .form-group
            .input-group
              %span.input-group-addon
                http://pinterest.com/
              %input.form-control{:placeholder => "", :type => "text", ng: {model: "store.pinterest"}}/
          .form-group
            .input-group
              %span.input-group-addon
                https://plus.google.com/
              %input.form-control{:placeholder => "", :type => "text", ng: {model: "store.google"}}/
          .form-group
            .input-group
              %span.input-group-addon
                http://instagram.com/
              %input.form-control{:placeholder => "", :type => "text", ng: {model: "store.instagram"}}/
    .panel-panel-transparent.m-b-45
      .panel-body.text-center
        %button.btn.btn-primary.btn-cons.btn-lg.btn-rounded{ng: {click: "save()"}} Save
        %a.btn.btn-default.btn-cons.btn-lg.btn-rounded{ng: {href: "#/dashboard"}} Back to Dashboard